<div class="container">
  <div class="jumbotron text-center" ng-init="init()">
    <h2>Weather Forecast for {{ city }}</h2>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button"
    data-toggle="dropdown">Select Forecast Period <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="i in [1, 3, 5]"><a href="#/forecast/{{ i }}">{{i}} Day{{ i>1? 's': ''}}</a></li>
    </ul>
  </div>

  <div ng-repeat="daily_agg in displayed_weathers">
    <div class="clearfix visible">
    </div>
    <div class="panel">
      <h3>{{ daily_agg[0].date }}</h3>
    </div>
    <div ng-repeat="hourly_weather in daily_agg">
      <search-result weather="hourly_weather" weatherimage="weatherImage">
        <search-result>
    </div>
  </div>
</div>
